<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">AuctionServerSide</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="category">
                <span class="oi oi-plus" aria-hidden="true"></span> Category creation
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="auctionCreation">
                <span class="oi oi-plus" aria-hidden="true"></span> Auction creation
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="userRoles">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Správa uživatelů
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="auctionApproval">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Schvalování aukcí
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="accountant">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Správa financí
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
